<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Twitapp</title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Sign Out</button>
    </form>
    <br>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Message">
            <input type="text" name="tag" placeholder="Tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add</button>
        </form>
    </div>
    <br>
    <p>Messages</p>
    <form method="post" action="/filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Search</button>
    </form>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
    </div>
    {{/messages}}
</body>
</html>