<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Twitapp</title>
</head>
<body>
Add new user
<hr>
{{#message}}
    <p style="color: red">{{message}}</p>
{{/message}}
<form action="/registration" method="post">
    <p><label> User Name : <input type="text" name="username"/> </label></p>
    <p><label> Password: <input type="password" name="password"/> </label></p>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <p><input type="submit" value="Sign In"/></p>
</form>
<a href="/login">Login</a>
</body>
</html>